p {
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.11em;
}
li {
  font-family: "Exo 2", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Inconsolata", monospace;
}
h1 {
  font-size: 48px;
}
h3 {
  font-size: 32px;
}
.resize_fit_center {
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
}
.card {
  background-color: #0E1A1C;
  border-radius: 8px;;

  p {
    font-size:24px;
  }
}