<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-sm-12 p-3 mx-3">
            <h1>Time to kill while your code buids</h1>
            <p>Watching code build is exciting.  Switch to another task and you may forget you had a build processing in the first place.</p>
            <p>Play a quick game and get right back to your build as soon as you're done.</p>
            <h3>How to play</h3>
            <ul>
                <li>Choose to play for 2, 5, or 10 minutes.</li>
                <li>Use arrow keys to move forward &rarr;, backward &larr;, and jump &uarr; to avoid obstacles.</li>
                <li>Score points based on how far you get and how many stars you collect within the given time.</li>
            </ul>
            <h3>Rules</h3>
            <ul>
                <li>You must sign up and log in to play.</li>
                <li>You can play one round every 30 minutes.  After all, the point is to effectively get back to what you were doing, right?</li>
            </ul>
        </div>
    </div>
</div>

<app-footer></app-footer>