p {
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.11em;
}
p.leaderboard-select {
  font-size: 14px !important;
}
li {
  font-family: "Exo 2", sans-serif;
}
h1 {
  font-size: 48px;
}
h3 {
  font-size: 32px;
}
.resize_fit_center {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.card {
  background-color: #0e1a1c;
  border-radius: 8px;

  p {
    font-size: 24px;
  }
}
table {
  background: transparent;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #00e0ff;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #00a0bb;
}
button {
  display: inline-block;
  width: 100%;
  padding: 8px 12px;
  background: transparent;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 0.11em;
  color: #00e0ff;
  border: 2px solid #00e0ff;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease 0.3s;
  &.active {
    background-color: #0f373d;
  }
}

button:hover {
  background: #0f373d;
  color: #00b0cc;
}
