<app-header></app-header>

<div class="container">
    <div class="row mt-4 justify-content-center">
        <div class="col-sm-12 col-md-7 p-3 mx-3">
            <h1>Leaderboard</h1>
            <p>This isn’t a competition, but bragging rights are allowed.</p>
            <p>Maybe even encouraged.</p>
            <p>Besides, you’re not going to let Frank win, are you?</p>
        </div>
    </div>

    <div class="row mt-4 justify-content-center">
        <div class="col-sm-12 col-md-7 p-4 mx-3 mb-5 card">
            <div class="row justify-content-center mt-2 mb-2">
                <div class="col-12">
                    <p class="leaderboard-select">Select a run time leaderboard</p>
                </div>
            </div>
            <div class="row mb-4 mt-n2">
                <div class="col-auto mr-n2">
                    <button (click)="timeSelect = '2'" [ngClass]="{active: timeSelect == '2'}">2 mins</button>
                </div>
                <div class="col-auto mr-n2">
                    <button (click)="timeSelect = '5'" [ngClass]="{active: timeSelect == '5'}">5 mins</button>
                </div>
                <div class="col-auto mr-n2">
                    <button (click)="timeSelect = '10'" [ngClass]="{active: timeSelect == '10'}">10 mins</button>
                </div>
            </div>
            <table class="table table-hover table-borderless">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Score</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let score of scores | orderScore: 'score'; let i = index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{score.score}}</td>
                    <td>{{score.username}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-footer></app-footer>