<app-header></app-header>

<div class="container">
    <div class="row mt-4 justify-content-center">
        <div class="col-sm-12 col-md-7 p-3 mx-3">
            <h1>Leaderboard</h1>
            <p>This isn’t a competition, but bragging rights are allowed.</p>
            <p>Maybe even encouraged.</p>
            <p>Besides, you’re not going to let Frank win, are you?</p>
        </div>
    </div>

    <div class="row mt-4 justify-content-center">
        <div class="col-sm-12 col-md-7 p-4 mx-3 mb-5 card">
            <table class="table table-hover table-borderless">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Score</th>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>1024</td>
                    <td>Pee Pee Poo Poo</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>1024</td>
                    <td>Pee Pee Poo Poo</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>1024</td>
                    <td>Pee Pee Poo Poo</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>1024</td>
                    <td>Pee Pee Poo Poo</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

<app-footer></app-footer>