#game-over {
    position: relative;
    margin-top: 300px;
    display: none;
    height: 600px;
    background-color: #000;
    a {
        min-width: 300px;
        height: 80px;
        border: 3px solid #00B0CC;
        padding: 10px 25px;
    }
}
