<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-sm-12 p-3 mx-3">
            <h1>Code Sprint</h1>
            <h2>How far can you make it?</h2>
            <p>Play for 2, 5, or 10 minutes while your code builds.</p>
            <a href="/signup">Sign up to play</a>
            <br />
            <a href="/game">Start the game</a>
            <br />
            <a href="/leaderboard">Check out the leaderboard</a>
        </div>
    </div>
</div>

<app-signup></app-signup>

<app-footer></app-footer>
