<app-header></app-header>

<div class="container">
    <div class="row mt-4">
        <div class="col-sm-6 p-3 mx-3">
            <h1>Code Sprint</h1>
            <p>How far can you make it?</p>
            <p>Play for 1, 2, or 5 minutes while your code builds.</p>
        </div>
        <div class="col-sm-5">
            <app-signup></app-signup>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mt-4">
            <img src="assets/images/robot_slides.png" class="resize_fit_center">
        </div>
    </div>
</div>

<app-footer></app-footer>