p {
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.11em;
}
li {
  font-family: "Exo 2", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Inconsolata", monospace;
}

h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 68px;
  line-height: 140%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #00e0ff;
  text-shadow: 0px 0px 12px #00e0ff;
}
