p {
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.11em;
}
li {
  font-family: "Exo 2", sans-serif;
}
h1 {
  font-size: 68px;
}
.resize_fit_center {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}
