<div class="form">
    <label>
        <!-- <p class="label-txt inco">ENTER YOUR USERNAME</p> -->
        <!-- <app-fancytext [text]="'ENTER'" [delay]="300">
        </app-fancytext>
        <div class="ml-2 d-inline-block"></div>
        <app-fancytext [text]="'YOUR'" [delay]="800">
        </app-fancytext>
        <div class="ml-2 d-inline-block"></div>
        <app-fancytext [text]="'USERNAME'" [delay]="1200">
        </app-fancytext> -->
        <input type="text" [(ngModel)]="username" class="input" placeholder="Enter your username">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <div class="row mt-3 mb-2">
        <div class="col-auto">
            <label>Select your run time</label>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-auto">
            <button (click)="timeSelect = '2'" [ngClass]="{active: timeSelect == '2'}">2 Mins</button>
        </div>
        <div class="col-auto">
            <button (click)="timeSelect = '5'" [ngClass]="{active: timeSelect == '5'}">5 Mins</button>
        </div>
        <div class="col-auto">
            <button (click)="timeSelect = '10'" [ngClass]="{active: timeSelect == '10'}">10 Mins</button>
        </div>
    </div>
    <div class="row mt-4 justify-content-center">
        <div class="col-12">
            <button class="w-100" type="submit" (click)="goToGame()">Play!</button>
        </div>
    </div>

</div>