.nav-link {
  color: #00E0FF!important;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  margin-left: 15px;
}
.nav-link:hover {
  color:#00B0DD!important;
}
.navbar {
  box-shadow: 0px 15px 40px -20px #00E0FF;
}